@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Gloock&display=swap';
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 1200px;
}

button {
  cursor: pointer;
  margin-left: 1.2em;
  padding: 15px;
}

a {
  all: unset;
}

nav {
  margin-top: 35px;
  font-size: 20px;
  color: #f75c49;
  font-weight: 700;
  font-family: Arial;
}
nav ul {
  width: 600px;
  align-items: center;
}
nav ul il {
  cursor: pointer;
}
nav ul il:hover {
  transition: 0.4s;
  color: #a93f32;
}
nav .button {
  font-size: 25px;
}

a, select, input[type=checkbox] {
  cursor: pointer;
}

.button {
  font-size: 15px;
  background-color: transparent;
  color: #f75c49;
  border: 1px solid #f75c49;
  font-weight: 700;
  padding: 0.7em;
}

.button:hover {
  transition: 0.3s;
  background-color: #f75c49;
  color: white;
}

.input-search {
  transition: all 0.3s;
  width: 200px;
  text-align: center;
  padding: 0 20px;
}

.input-search:hover {
  width: 350px;
  text-align: start;
}

.dropdown-menu {
  display: none;
}

.dropdown-btn:focus + .dropdown-menu {
  display: block;
}

.flex {
  display: flex;
}

.jc-spc-btwn {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.elem-divider {
  width: 50%;
  margin-left: 25%;
  border-top: 1px solid black;
}

.paragr-title {
  color: black;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 32px;
}

.profile {
  float: left;
  width: 150px;
  height: 280px;
  margin: 3%;
  text-align: center;
}
.profile .prof-img {
  min-height: 140px;
  min-width: 140px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  border: solid #f99589 5px;
  border-radius: 100%;
  color: #f75c49;
  font-weight: 700;
  font-size: 28px;
}
.profile p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.star-img {
  position: absolute;
  transform: translate(-25px, 5px);
  height: 50px;
}

.full-name {
  font-weight: 700;
  font-size: 25px;
}

.hobby {
  font-size: 15px;
  color: #888888;
}

.country {
  font-size: 13px;
}

input[type=checkbox] {
  margin: 5px;
}

header {
  margin: 30px;
  margin-bottom: 40px;
}
header div div button {
  width: 94px;
}

#logo {
  font-size: 40px;
  font-family: Gloock;
  color: white;
  text-shadow: -2px -2px #f7624f, 2px 2px black;
}

#top-teachers ul {
  align-items: center;
  color: #999999;
  width: 80%;
}
#top-teachers ul :nth-last-child(1) {
  border-right: none;
}
#top-teachers ul il {
  border-right: dotted 2px #999999;
  padding: 10px;
  align-items: center;
  font-size: 22px;
}
#top-teachers ul il select {
  margin: 0 5px 0 20px;
  border: 1px solid black !important;
  padding: 10px;
}

#top-profiles-container {
  flex-wrap: wrap;
}

#statistics table {
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#statistics table thead {
  font-size: 25px;
  border-bottom: 2px solid black;
}
#statistics table thead th {
  padding: 0;
}
#statistics table thead tr {
  padding-bottom: 5px;
}
#statistics table th, #statistics table td {
  font-weight: lighter;
  text-align: center;
  padding: 14px;
}
#statistics table td:first-child, #statistics table th:first-child {
  width: 350px;
  text-align: start;
}
#statistics table tr:nth-of-type(even) {
  background-color: #f9f5f9;
}
#statistics table a {
  box-sizing: border-box;
  color: black;
}
#statistics table a:hover {
  content: "↑";
  transition: 0.3s;
  border-bottom: 5px black solid;
}

#statistics-nav {
  margin: 15px;
}
#statistics-nav a {
  margin: 10px 15px;
  font-size: 25px;
  text-decoration: none;
  color: #1a9cb0;
}
#statistics-nav a:hover {
  color: #106876;
}
#statistics-nav .stat-nav-active {
  color: black;
}

.chart {
  width: 40% !important;
  height: 40% !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  height: 450px;
}

.grid-item {
  height: 100%;
  align-items: center;
}
.grid-item img {
  align-items: center;
  width: 60px;
}

footer {
  margin: 50px 0;
}
footer nav ul {
  font-size: 32px;
}
footer nav ul il {
  font-weight: 200;
}

.footer-text {
  font-size: 23px;
  color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.popup-head {
  background-color: #464648;
  padding: 10px;
  color: white;
  font-weight: 100;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30px auto;
  background: white;
  width: 33%;
  height: 80%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.popup .close {
  position: absolute;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.popup-content {
  padding: 6%;
  font-size: 13px;
  color: #464648;
  background-color: white;
}
.popup-content .popup-block {
  margin: 2% 0;
  height: 10%;
  width: 100%;
  margin-right: 14px;
}
.popup-content .popup-block input, .popup-content .popup-block select {
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 3px;
}
.popup-content .popup-block textarea, .popup-content .popup-block button {
  display: block;
  width: 100%;
  padding: 0;
}
.popup-content .popup-block input[type=radio] {
  width: 15px;
}
.popup-content .popup-block .popup-gender {
  margin-left: 15%;
}
.popup-content .popup-block .popup-background {
  width: 25%;
}
.popup-content .popup-block button {
  margin: 7% 0 0 0;
  height: 40px;
}
.popup-content div {
  align-items: center;
}
.popup-content div :nth-of-type(2) {
  margin-right: 0;
  width: 100%;
}
.popup-content img {
  float: left;
  width: 40%;
  margin: 10px;
}
.popup-content p {
  padding: 10px;
}
.popup-content .star-img {
  height: 40px;
  width: auto;
  right: 0;
  margin: 0;
}
.popup-content a {
  margin-top: 30px;
}

.ti-popup-note {
  display: inline-block;
  background-color: white;
  padding: 20px;
}

.ti-popup-full_name {
  font-size: 30px;
}

.ti-popup-course {
  font-size: 15px;
  font-weight: 700;
  margin: 0 30px;
}

.ti-popup-email {
  color: #36a8c2;
}

.toggle-map {
  color: #36a8c2;
  border-bottom: #1a9cb0 dotted 2px;
  cursor: pointer;
}

#map {
  height: 180px;
  width: 100%;
}

@media (max-width: 768px) {
  body {
    width: 650px;
  }
  header div, header nav {
    flex-wrap: wrap;
  }
  header div div, header nav div {
    padding-top: 50px;
    min-width: 80%;
  }
  #top-teachers ul {
    justify-content: center;
    flex-wrap: wrap;
  }
  #top-teachers ul il {
    width: 200px;
    padding: 20px;
    border: dotted 0 2px 0 2px #999999;
  }
  #top-profiles-container {
    height: 1040px;
  }
  #favorites {
    height: 1040px;
  }
  #favorites .grid-container {
    grid-template-columns: 15% 70% 15%;
  }
  #favorites .grid-container :nth-child(2) {
    flex-wrap: wrap;
  }
  #statistics table thead tr:first-child {
    width: 150px;
  }
  footer nav {
    justify-content: center !important;
    flex-wrap: wrap;
  }
  footer nav ul {
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=index.css.map */
